.App {
  text-align: center;
}

.App-header {
  background-color: #1e8ac3;
  /*height: 150px;*/
  padding: 20px;
  color: white;
  box-shadow: 0 2px 5px #00334ed1;
}

h2.App-title {
  font-size: 1.5em;
  color: #1e8ac4;
  margin-top: 0;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.add-new{
  width: fit-content;
  padding: 1.5rem 2rem;
  margin: 2rem auto;
  border: 1px solid #d9f1ff;
  border-radius: 10px;
  background: #e4f3fb;
  box-shadow: 1px 1px 5px #0037565c;
  box-sizing: border-box;
}

input{
  padding: 6px 8px;
  margin: 5px 0;
  border: 1px solid #e2e7eb;
  border-radius: 4px;
  font-size: 1.2em;
}

.add-new button{
  width: 100%;
  background: #1e8ac4;
  color: #fff;
  border: 1px solid #1977a9;
  border-radius: 10px;
  padding: 10px 0;
  margin-top: 8px;
  font-size: 1.1em;
  font-weight: bold;
}
.add-new button:hover,
.add-new button:focus {
  background: #1977a9;
  box-shadow: 1px 1px 3px #00334ed1;
}

.all-contacts{
  width: fit-content;
  margin: 20px auto;
}

ul{
  list-style: none;
  padding: 0px;
}
li{
  background: #fefefe;
  border-bottom: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

li > div{
  padding: 10px;
  padding-left: 0;
}

li > button{
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 8px 15px;
}